body {
    background-image: url(../image/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
 input {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
/* Header */
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 79px;
    align-items: center;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF
}
.logo {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}
header a:hover {
    color: #3CB878;
    transition: 0.2s ease-in-out;
}
.logo:hover {
    font-size: 20px;
    line-height: 20px;
}
.menu {
    display: flex;
    align-items: center;
}
.header-img {
    display: flex;
    gap: 25px;
    margin-right: 48px;
}
.header-img svg:hover path {
    fill: #3CB878;
    transition: .5s;
}   
.header-link::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    top: 0;
    left: -27px;
}
span {
    margin-right: 5px;
}
.header-link {
    margin-right: 5px;
    position: relative;
}
/* main */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form {
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
}
.form-header {
    display: flex;
    align-items: center;
    margin: 31px 59px 15px 61px;
    justify-content: space-between;
}
.sign-up {
    position: relative;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #434343;
}
.log-in {
    color: #3CB878;
}
.form a:hover {
    text-decoration: underline;
    color: #01813F;
    transition: 0.5s ease;
}
.form-buttons {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 4px;
}
.sign-up::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: -61px;
    top: 2px;
    background: #3CB878; 
}
.btn {
    width: 160px;
    height: 48px;
    cursor: pointer;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border-color: transparent;
    padding: 0;
    outline: 0;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}
.btn-facebook {
    background-color: #305DB8;
    position: relative;
}
.btn-facebook:hover {
    background: #022263;
    transition: .5s;
}
.btn-line {
    position: absolute;
    width: 1px;
    height: 28px;
    left: 48px;
    top: 10px;
    mix-blend-mode: normal;
    opacity: 0.1;
}
.btn-facebook-line{
    background: #0A162F;
}
.fa-brands {
    font-size: 24px;
}
.fa-facebook-f {
    margin-left: 11px;
    margin-right: 32px;
    width: 24px;
    text-align: center;
}
.btn-google {
    background: #DF4A32;
    position: relative;
}
.btn-google:hover {
    background: #AB1F09;
    transition: .5s;
}
.btn-google-line {
    background: #2B0D09;
    left: 49px;
}
.fa-google-plus-g {
    margin-left: 12px;
    margin-right: 38px;
}
.form-text {
    position: relative;
    text-align: center;
    color: #848484;
    margin-top: 31px;
}
.form-text::before, .form-text::after {
    content: "";
    position: absolute;
    width: 152px;
    height: 1px;
    background: #F2F2F2;
}
.form-text::before {
    left: 60px;
    top: 8px;
}
.form-text::after {
    left: 230px;
    top: 8px;
}
::placeholder {
    color: #bebebe;
}
.form-input {
    width: 324px;
    height: 45px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin: 15px 61px 0;
    padding-left: 20px;
}
.form-input:first-of-type {
    margin-top: 5px;
}
.form-input:last-of-type {
    margin-bottom: 12px;
}
.form-input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);}
.form-input:focus::placeholder{
    color:#434343;
}   
.form-input:focus-visible {
    outline: none;
}
.checkbox a {
    color: #3CB878;
}
.checkbox {
    cursor: pointer;
    margin-left: 65px;
    display: block;
    position: relative;
}
.checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    left: -5px;
    top: -2px;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #F2F2F2;
}
.terms {
    margin-left: 20px;
}
.checkbox:hover > .checkmark {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.checkbox input:checked + .checkmark::after {
    display: block;
}
.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox .checkmark::after {
    border: 2px solid #01813F;
    left: 7px;
    top: 0;
    border-width: 0 3px 3px 0;
    width: 7px;
    height: 14px;
    transform: rotate(45deg);
}
.btn-create-account {
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}
.btn-create-account:hover {
    background: #01813F;
    transition: .5s;
}
.change_btn {
    justify-content: center;
    margin: 10px auto;
    background-color: #19d7e8;
}
.change_btn:hover {
    background-color: #0ea3b0;
    transition: .5s;
}
